@basic-color:#81b3d2;
@hover-color:#669ec0;
@down-color: #5496bd;
@std-text-color:#000000;
@menu-text-color:#ffffff;
@menu-border-color:#678fa8;
@slogan-text-color:#000000;
@adv-head-text-color:#ffffff;
@adv-head-bcg-color: #81b3d2;
@social-link-color:#81b3d2;
@social-link-hover-color:#669ec0;
@social-link-down-color:#669ec0;

@like-icon-color:#b2b2b2;

@link-icon-color:#ffffff;
@link-down-icon-color:#88b6d1;

@academy-logo-color:#000000;
@academy-logo-hover-color:#81b3d2;
@academy-logo-down-color:#b2b2b2;

@error-message-color: #ff5c5c;
@feature-icon-color:#81b3d2;
@advantages-mini-border-color: #d6d6d6;

@close-btn-color:#ffffff;

@input-color:#f2f2f2;
