

@tablet-widths: ~"(min-width: 768px)";
@desktop-widths: ~"(min-width: 1200px)";

@retina: ~"(min-resolution: 144dpi), (min-resolution: 1.5dppx)";

/*Цвета основных блоков*/

@body-mob-tab-color:#ffffff;
@body-desktop-color:#f2f2f2;


/*цвета для стилизации мобильного меню*/
@basic-color: #81b3d2;
@hover-color: #669ec0;
@down-color: #5496bd;
@std-text-color: #000000;
@menu-text-color: #ffffff;
@menu-border-color: #678fa8;
@menu-tablet-color: #ffffff;
@menu-desktop-color: #ffffff;
@main-menu-tablet-hover-color: #81b3d2;
@main-menu-tablet-active-color: #b2b2b2;
@main-menu-active-tablet-color: #766357;
@main-menu-active-tablet-active-color: #604e43;
@main-menu-active-tablet-down-color:#d6d0cc;

@menu-button-color: #81b3d2;



/*цвета для ссылочных кнопок и надписей в них*/
@button-std-color:#81b3d2;
@button-hover-color:#669ec0;
@button-down-color:#5496bd;
@button-disabled-color:#e5e5e5;

@button-text-std-color:#ffffff;
@button-text-hover-color:#ffffff;
@button-text-down-color:#88b6d1;
@button-text-disabled-color:#ffffff;


/*цвета для ссылок*/
@std-link-color:#000000;
@hover-link-color:#81b3d2;
@down-link-color:#b2b2b2;

/*цвета для контролов плеера*/
@std-control:#5c6870;
@hover-control:#333333;
@down-control:#c1c1c1;
@video-controls-tablet-color:#ffffff;

/*цвета основных блоков*/
@advantages-header-color:#81b3d2;
@photo-about-background:#f2f2f2;
@feature-icon-color:#81b3d2;
@advantages-mini-border-color: #d6d6d6;

/*цвета для стилизации формы*/
@form-border-color:#dbdbdb;
@error-message-color: #ff5c5c;

/*цвета для стилизации инпутов*/
@input-color:#f2f2f2;
@input-hover-color:#e5e5e5;
@input-active-color:#ffffff;

@choice-input:#f2f2f2;
@choice-input-hover:#e5e5e5;
@choice-input-down: #d5d5d5;


@choice-input-marker: #333333;
@choice-input-marker-down:#a4a4a4;

/*цвета для стилизации лайков в галерее*/

@mobile-like-color:#b2b2b2;
@mobile-like-hover-color: #333333;
@mobile-like-active-color: #5c6870;

@desktop-like-color:#ffffff;
@desktop-like-hover-color: #d5d5d5;
@desktop-like-active-color: #5c6870;




@map-pointer-color:#81b4d4;



@tablet-menu-link-color:#000000;


@slogan-text-color:#000000;
@adv-head-text-color:#ffffff;
@adv-head-bcg-color: #81b3d2;

@feature-icon-color:#81b3d2;


@like-icon-color:#b2b2b2;

@link-icon-color:#ffffff;
@link-down-icon-color:#88b6d1;




@close-btn-color:#ffffff;











@bg-darkgrey: #292929;
@transparent-black: rgba(0,0,0, 0.3);
