@basic-color:#81b3d2;
@hover-color:#669ec0;
@down-color: #5496bd;
@std-text-color:#000000;
@menu-text-color:#ffffff;
@menu-border-color:#678fa8;
@slogan-text-color:#000000;
@adv-head-text-color:#ffffff;
@adv-head-bcg-color: #81b3d2;
@social-link-color:#81b3d2;
@social-link-hover-color:#669ec0;
@social-link-down-color:#669ec0;
@error-message-color: #ff5c5c;
