.advantages-item--big {
  @media @tablet-widths {
    display: flex;
    flex-basis: 100%;
    align-items: stretch;
  }
}

.advantages-item:nth-of-type(3) {
  @media @tablet-widths {
    flex-direction: row-reverse;
  }
}

.advantages-item__header {
  text-align: center;
  background: @advantages-header-color;
  padding-top: 40px;
  padding-bottom: 25px;
  @media @tablet-widths {
    flex-basis: 33.33%;
    padding-top: 45px;
  }
  @media @desktop-widths {
    padding-top: 55px;
  }
}

.advantages-item__header--triangle-top {
  position: relative;
  padding-top: 80px;
  @media @tablet-widths {
    padding-top: 45px;
  }
  @media @desktop-widths {
    padding-top: 55px;
  }
}

.advantages-item__header-decor {
  position: absolute;
  top:0;
  left:0;
  height: 37px;
  width: 320px;
  fill:#ffffff;
  @media @tablet-widths {
    display: none;
  }
}

.advantages-item__title {
  .big-text(@std-text-color);
  line-height: 21px;
  margin: 0 auto 10px;
  @media @tablet-widths {
    font-size: 21px;
    width: 155px;
    line-height: 26px;
    margin-bottom: 11px;
  }
}

.advantages-item__number {
  display: block;
  margin: 0;
  padding-bottom: 15px;
  .normal-text(@std-text-color);
  @media @tablet-widths {
    padding-bottom: 20px;
  }
}

.advantages-item__number::after,
.advantages-item__number::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 10px;
  border: solid #ffffff;
  border-width: 1px 0;
  margin-left: 6px;
  margin-right: 6px;
}

.advantages-item--mini .advantages-item__number::after,
.advantages-item--mini .advantages-item__number::before {
  border-color: @std-text-color;
}

.advantages-item__announce {
  display: block;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 14px;
  .normal-text(@std-text-color);
  @media @tablet-widths {
    padding-bottom: 0;
    width: 180px;
  }
  @media @desktop-widths {
    width: 270px;
  }
}

.advantages-item__picture-wrapper {
  width: 320px;
  height: 260px;
  overflow: hidden;
  @media @tablet-widths {
    height: 256px;
    flex-basis: 66.67%;
  }
  @media @desktop-widths {
    width: 800px;
  }
}

.advantages-item--big .advantages-item__title {
  color: @adv-head-text-color;
}

.advantages-item--big .advantages-item__number {
  color: @adv-head-text-color;
}

.advantages-item--big .advantages-item__announce {
  color: @adv-head-text-color;
}

.advantages-item--mini {
  padding-top: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid @advantages-mini-border-color;
  background-color: #eeeeee;
  @media @tablet-widths {
    width: 33.33%;
    border-bottom: none;
    padding-top: 45px;
    padding-bottom: 45px;
  }
  @media @desktop-widths {
    padding-bottom: 65px;
  }
}

.advantages-item--mini:last-child {
  border-bottom: none;
}

.advantages-item--mini .advantages-item__announce {
  padding-bottom: 0;
}

.advantages-item__features {
  padding-top: 30px;
  padding-bottom: 15px;
  @media @tablet-widths {
    display: flex;
    flex-basis: 100%;
    padding-top: 55px;
    padding-bottom: 35px;
  }
  @media @desktop-widths {
    padding-bottom: 60px;
    background-color: @body-mob-tab-color;
  }
}

.advantages-item__feature-wrap {
  padding-left: 20px;
  padding-right: 20px;
  @media @tablet-widths {
    width: 33.33%;
    padding: 0 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.advantages-item__feature-wrap:nth-child(2) {
  @media @tablet-widths {
    order: 1;
  }
}

.advantages-item__feature-title {
  display: flex;
  align-items: center;
  @media @tablet-widths {
    margin-bottom: 25px;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.advantages-item__feature-icon {
  fill: @feature-icon-color;
  margin-right: 14px;
  @media @tablet-widths {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.advantages-item__feature-icon--house {
  width: 37px;
  height: 36px;
  @media @tablet-widths {
    width: 76px;
    height: 75px;
  }
}

.advantages-item__feature-icon--souvenir {
  width: 32px;
  height: 37px;
  @media @tablet-widths {
    width: 64px;
    height: 75px;
  }
}

.advantages-item__feature-icon--burger {
  width: 38px;
  height: 33px;
  @media @tablet-widths {
    width: 77px;
    height: 75px;
  }
}

.advantages-item__feature-name {
  .big-text(@std-text-color);
  text-align: left;
  line-height: 21px;
  @media @tablet-widths {
    font-size: 21px;
    text-align: center;
  }
}

.advantages-item__feature-description {
  .normal-text(@std-text-color);
  text-align: left;
  padding: 10px 0 23px 50px;
  @media @tablet-widths {
    text-align: center;
    width: 165px;
    padding: 0;
  }
  @media @desktop-widths {
    width: 285px;
  }
}
