.advantages {
  .container;
  @media @tablet-widths {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
}

.advantages__header {
  padding-top: 40px;
  padding-bottom: 3px;
  @media @tablet-widths {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
  }
}

.advantages__slogan {
  width: 255px;
  margin: 0 auto 27px;
  .big-text(@std-text-color);
  @media @tablet-widths {
    width: 445px;
    font-size: 21px;
    line-height: 26px;
  }
}

.advantages__intro {
  width: 250px;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  color: @slogan-text-color;
  text-align: center;
  @media @tablet-widths {
    width: 490px;
  }
}
