.advantages-item {}
@media @tablet-widths {
  .advantages-item--big {
    display: flex;
    flex-basis: 100%;
    align-items: stretch;
  }

  .advantages-item:nth-of-type(3) {
    flex-direction: row-reverse;
  }
}

.advantages-item__header {
  text-align: center;
  background: @advantages-header-color;
  padding-top: 40px;
  padding-bottom: 25px;
}
@media @tablet-widths {
  .advantages-item__header {
    flex-basis: 33.33%;
    padding-top: 45px;
  }
}
@media @desktop-widths {
  .advantages-item__header {
    padding-top: 55px;
  }
}

.advantages-item__header--triangle-top {
  position: relative;
  padding-top: 80px;
}

.advantages-item__header--triangle-top::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  height: 38px;
  width: 100%;
  background-image: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}
@media @tablet-widths {
  .advantages-item__header--triangle-top {
    padding-top: 45px;
  }
@media @desktop-widths{
  .advantages-item__header--triangle-top{
    padding-top: 55px;
  }
}



  .advantages-item__header--triangle-top::before {
    display: none;
  }
}

.advantages-item__title {
  .big-text(@std-text-color);
  line-height: 21px;
  margin: 0 auto;
  margin-bottom: 15px;
}
  @media @tablet-widths {
    .advantages-item__title{
    font-size: 21px;
    width: 155px;
    line-height: 26px;
    margin-bottom: 11px;
  }
}


.advantages-item__number {
  display: block;
  margin: 0;
  padding-bottom: 14px;
  .normal-text(@std-text-color);
}

.advantages-item__number::after,
.advantages-item__number::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 10px;
  border: solid #ffffff;
  border-width: 1px 0;
  margin-left: 6px;
  margin-right: 6px;
}

.advantages-item--mini .advantages-item__number::after,
.advantages-item--mini .advantages-item__number::before {
  border-color: @std-text-color;
}
@media @tablet-widths {
  .advantages-item__number {
    padding-bottom: 20px;
  }
}

.advantages-item__announce {
  display: block;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 14px;
  .normal-text(@std-text-color);
  @media @tablet-widths {
    padding-bottom: 0;
    width: 180px;
  }
  @media @desktop-widths {
    width: 270px;
  }
}

.advantages-item__picture-wrapper {
  width: 320px;
  height: 260px;
  overflow: hidden;
}
@media @tablet-widths {
  .advantages-item__picture-wrapper {
    height: 256px;
    flex-basis: 66.67%;
  }


}
@media @desktop-widths {
  .advantages-item__picture-wrapper {
    width: 800px;
  }


}


.advantages-item--big .advantages-item__title {
  color: @adv-head-text-color;
}

.advantages-item--big .advantages-item__number {
  color: @adv-head-text-color;
}

.advantages-item--big .advantages-item__announce {
  color: @adv-head-text-color;
}

.advantages-item--mini {
  padding-top: 15px;
  padding-top: 25px;
  padding-bottom: 30px;
  border-bottom: 1px solid @advantages-mini-border-color;
  background-color: #eeeeee;

  &:last-child {
    border-bottom: none;
  }
}
@media @tablet-widths {
  .advantages-item--mini {
    width: 33.33%;
    border-bottom: none;
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
@media @desktop-widths {
  .advantages-item--mini {
    padding-bottom: 65px;
  }
}

.advantages-item--mini .advantages-item__announce {
  padding-bottom: 0;
}

.advantages-item__features {
  padding-top: 28px;
  padding-bottom: 15px;

}
@media @tablet-widths {
  .advantages-item__features {
    display: flex;
    flex-basis: 100%;
    padding-top: 55px;
    padding-bottom: 35px;
  }
}
@media @desktop-widths {
  .advantages-item__features {
    padding-bottom: 55px;
  }
}

.advantages-item__feature-wrap {
  padding-left: 20px;
  padding-right: 20px;
}
@media @tablet-widths {
  .advantages-item__feature-wrap {
    width: 33.33%;
    padding: 0 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .advantages-item__feature-wrap:nth-child(2) {
    order: 1;
  }
}
.advantages-item__feature-title{
  display: flex;
  align-items: center;

}
@media @tablet-widths {
  .advantages-item__feature-title {
    margin-bottom: 25px;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.advantages-item__feature-icon{
  fill: @feature-icon-color;
  width: 38px;
  height: 38px;
  margin-right: 14px;
}
@media @tablet-widths {
  .advantages-item__feature-icon{
  width: 77px;
  height: 77px;
  margin-right: 0px;
  margin-bottom: 30px;
}
}


.advantages-item__feature-name {
  .big-text(@std-text-color);
  text-align: left;
  line-height: 21px;
}
@media @tablet-widths {
  .advantages-item__feature-name {
    font-size: 21px;
    text-align: center;
  }
}


.advantages-item__feature-description {
  .normal-text(@std-text-color);
  text-align: left;
  padding: 10px 0 20px 50px;

}
@media @tablet-widths {
  .advantages-item__feature-description {
    text-align: center;
    width: 165px;
    padding: 0;
  }
}
@media @desktop-widths {
  .advantages-item__feature-description {
    width: 285px;
  }
}
