.field-review {
  display: block;
  border-top: 1px solid #e5e5e5;
  padding-top: 18px;
  padding-bottom: 5px;
  @media @tablet-widths {
    flex-basis: 100%;
    order: 5;
    padding-bottom: 0;
    border: none;
    padding-top: 20px;
  }
  @media @desktop-widths{
    padding-top: 20px;
  }
}

.field-review__title {
  display: block;
  .big-text(@std-text-color);
  margin-bottom: 20px;
  @media @tablet-widths {
    font-size: 21px;
    margin-bottom: 30px;
    .line-decor(125px);
  }
  @media @desktop-widths {
    .line-decor(280px);
    margin-bottom: 28px;
  }
}

.field-review__item {
  display: block;
}

.field-review__item-wrap {
  padding-right: 20px;
  padding-left: 20px;
  @media @tablet-widths {
    display: flex;
    justify-content: center;
    padding: 30px 0 0;
  }
}

.field-review__text {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 160px;
  padding: 12px 20px 20px;
  font-family: "PT Sans Bold", sans-serif;
  font-size: 18px;
  line-height: 26px;
  resize: none;
  background-color: @input-color;
  border: none;
  @media @tablet-widths {
    width: 100%;
  }
  @media @desktop-widths{
    padding-top: 15px;
    padding-left: 20px;
  }
}

.field-review__text::placeholder {
  color: @std-text-color;
  opacity:  1;
}

.field-review__text:hover {
  background-color: @input-hover-color;
}

.field-review__text:focus {
  background-color: @input-active-color;
  box-shadow: inset 0 0 0 4px @input-hover-color;
  outline: none;
}
