.field-check {
  display: block;
  border-top: 1px solid #e5e5e5;
}

.field-check__item-wrap {
  padding-left: 20px;
  padding-right: 20px;
}

.field-check__title {
  display: block;
  .big-text(@std-text-color);
  padding-bottom: 7px;
  padding-top: 3px;

}

.field-check__item {
  display: inline-block;
  height: 60px;
  padding-bottom: 10px;
  padding-right: 50px;
}

.field-check__text {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  padding-left: 24px;
}
