.field-radio {
  display: block;
  border-top: 1px solid #e5e5e5;
  @media @tablet-widths {
    box-sizing: border-box;
    width: 50%;
  }
}

.field-radio__title {
  display: block;
  .big-text(@std-text-color);
  @media @tablet-widths {
    font-size: 21px;
  }
}

.field-radio__item-wrap {
  padding-left: 20px;
  padding-right: 20px;
}

.field-radio__item {
  display: inline-block;
  height: 60px;
  padding-bottom: 10px;
}

.field-radio__text {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  padding-left: 24px;
}
