.field-text {
  display: block;
  border-top: 1px solid #e5e5e5;
  box-sizing: border-box;
  padding-top: 18px;
  padding-bottom: 5px;
  @media @tablet-widths {
    border: none;
  }
}
/*стилизация обертки*/
.field-text__item-wrap {
  padding: 0 20px;
  @media @tablet-widths {
    padding: 0;
  }
}
/*стилизация заголовков*/
.field-text__title {
  .big-text(@std-text-color);
  margin-bottom: 22px;
  @media @tablet-widths {
    font-size: 21px;
    text-align: left;
  }
}
/*стилизация инпута с подписью*/
.field-text__item {
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
}
/*стилизация подписи*/
.field-text__text {
  box-sizing: border-box;
  padding-right: 15px;
  flex-shrink: 0;
  .normal-text(@std-text-color);
  margin-bottom: 10px;
}
/*стилизация инпута*/
.field-text__input {
  box-sizing: border-box;
  height: 58px;
  flex-grow: 1;
  flex-shrink: 1;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  border: 4px solid;
  padding: 0 20px;
  color: @std-text-color;
  .input-style;
  @media @tablet-widths{
    padding-bottom: 3px;
    padding-left: 18px;
  }
}

.field-text__input::placeholder {
  color: @std-text-color;
  opacity:  1;
}

.field-text__input-wrap {
  flex-grow: 1;
}

.field-text__error {
  width: 200px;
  box-sizing: border-box;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: @error-message-color;
  order: 2;
  flex-basis: 100%;
  margin-top: 8px;
  padding-left: 21px;
  @media @tablet-widths {
    order: 0;
    flex-basis: 50%;
    text-align: right;
  }
  @media @desktop-widths {
    order: 0;
    padding: 0;
    flex-basis: 100%;
    text-align: center;
    margin-right: 80px;
    padding-bottom: 10px;
    margin-top: 0;
  }
}

.field-text__icon {
  padding: 18px;
  background-color: #e6e6e6;
  position: absolute;
  right: 0;
  top: 0;
}
/*стилизация блока с  именем*/
.field-text--name {
  @media @tablet-widths {
    width: 49.9%;
    box-sizing: border-box;
    padding-left: 59px;
    order: 1;
    border: none;
    padding-top: 22px;
  }
  @media @desktop-widths {
    padding-left: 79px;


  }
}

.field-text--name .field-text__title {
  @media @tablet-widths {
    margin-bottom: 58px;
  }

}

.field-text--name .field-text__item-wrap {
  @media @tablet-widths {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
  }
}

.field-text--name .field-text__input {
  width: 120px;
}
/*стилизация блока с контактами*/
.field-text--contacts {
  padding-top: 18px;
  @media @tablet-widths {
    flex-basis: 100%;
    order: 2;
    padding-bottom: 10px;
    padding-top: 19px;
  }
  @media @desktop-widths {
    flex-wrap: wrap;
    padding-bottom: 16px;
  }
}

.field-text--contacts .field-text__title {
  margin-bottom: 23px;
  text-align: center;
  @media @tablet-widths {
    .line-decor(125px);
  }
  @media @desktop-widths {
    .line-decor(280px);
    margin-bottom: 50px;
  }
}

.field-text--contacts .field-text__item-wrap {
  @media @tablet-widths {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media @desktop-widths {
    flex-wrap: nowrap;
    align-items: flex-end;
  }
}

.field-text--contacts .field-text__item {
  display: flex;
  flex-wrap: wrap;
  @media @tablet-widths {
    flex-basis: 100%;
    justify-content: space-between;
  }
  @media @desktop-widths {
    flex-basis: 50%;
    align-content: flex-end;
  }
}

.field-text--contacts .field-text__input-wrap {
  @media @tablet-widths {
    width: 100%;
    flex-wrap: wrap;
    order: 2;
    margin-bottom: 5px;
  }
  @media @desktop-widths {
    width: auto;
  }
}

.field-text--contacts .field-text__input {
  width: 120px;
  position: relative;
  flex-grow: 1;
  order: 2;
  @media @tablet-widths {
    order: 2;
  }
}

.field-text--contacts .field-text__text {
  order: 0;
  padding-left: 25px;
  @media @tablet-widths {
    order: 0;
    width: auto;
    text-align: left;
    flex-grow: 0;
    box-sizing: border-box;
    padding-left: 22px;
  }
  @media @desktop-widths {
    order: 1;
    padding-left: 0;
    flex-basis: auto;
  }
}

.field-text__text-hiding {
  @media @desktop-widths {
    display: none;
  }
}

.field-text--contacts .field-text__input {
  width: 100%;
  flex-grow: 1;
}

.field-text__input-wrap{
  position: relative;
}

.field-text__input-wrap--tel {
  @media @desktop-widths {
    margin-right: 80px;
  }
}

.field-text__input-wrap::before {
  content: "";
  position: absolute;
  width: 58px;
  height: 58px;
  background-color: @input-hover-color;
  right: 0;
  top: 0;
  z-index: 10;
}
.field-text__icon{
  fill: #000000;
  position: absolute;
  z-index: 15;
  top: 2px;


}
.field-text__icon--tel{
  width: 18px;
  height: 18px;
  right:1px;

}

.field-text__icon--mail{
  width: 18px;
  height: 16px;
  right:2px;

}
