.field-check {
  display: block;
  border-top: 1px solid #e5e5e5;
}
@media @tablet-widths {
  .field-check {
    flex-basis: 100%;
    order: 3;
    padding-bottom: 78px;

  }
}

.field-check__title {
  .big-text(@std-text-color);
  padding-bottom: 7px;
  padding-top: 3px;
}
@media @tablet-widths {
  .field-check__title {
    width: 400px;
    font-size: 21px;
    margin: -15px auto;
    background: @body-background;
    padding-bottom: 68px;
  }
}


.field-check__item-wrap {
  padding-left: 20px;
  padding-right: 20px;
}
@media @tablet-widths {
  .field-check__item-wrap {
    display: flex;
    justify-content: space-between;
    padding-left: 95px;
    padding-right: 0;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media @desktop-widths {
  .field-check__item-wrap{
  padding: 0;
  justify-content: flex-start;
}
}


.field-check__item {
  display:block;
  height: 60px;
  padding-bottom: 10px;

}
@media @tablet-widths {
  .field-check__item {
padding-bottom: 30px;
    flex-basis:50%;
  }
}
@media @desktop-widths{
  .field-check__item{
    flex-basis: 25%;
  }
}

.field-check__text {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size: 18px;
}

@media @desktop-widths{
  .field-check__text{

  }
}




/*анимация инпутов*/

.field-check input[type="checkbox"]{
  display: none;
}


.field-check__text::before{
  content:"";
  display: inline-block;
  width: 56px;
  height: 56px;
  border-radius: 5px;
  background-color: @choice-input;
  vertical-align: middle;
  margin-right: 25px;
}

.field-check__text:hover::before{
  background-color: @choice-input-hover;
}
.field-check__text:active::before{
  background-color:@choice-input-down;
}
.field-check__text::selection{
  background: transparent;
}


.field-check input[type="checkbox"]:checked+.field-check__text::before {
  background-color: @choice-input;
  background-image: url(../img/icon-tick.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.field-check input[type="checkbox"]:checked+.field-check__text:hover::before {
  background-color: @choice-input-hover;
  background-image: url(../img/icon-tick.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.field-check input[type="checkbox"]:checked+.field-check__text:active::before {

  background: url(../img/icon-tick-down.svg);
  background-color: @choice-input-down;
  background-repeat: no-repeat;
  background-position: center;
}
