.field-review {
  display: block;
  border-top: 1px solid #e5e5e5;
}
@media @tablet-widths {
  .field-review {
    flex-basis: 100%;
    order: 5;
  }
}

.field-review__title {
  display: block;
  .big-text(@std-text-color);
}
@media @tablet-widths {
  .field-review__title {
    font-size: 21px;
    background-color: @body-background;
    margin-top: -15px;
  }
}

.field-review__item {
  display: block;
  margin-bottom: 10px;
}

.field-review__item-wrap {
  padding-right: 20px;
  padding-left: 20px;
}
@media @tablet-widths {
  .field-review__item-wrap {
    display: flex;
    justify-content: center;
    padding: 30px 0 0;
  }
}

.field-review__text {
  display: block;
  width: 240px;
  padding: 20px;
  font-family: "PT Sans Bold", sans-serif;
  font-size: 18px;
  line-height: 26px;
  resize: none;
  background-color: #f2f2f2;
  border: none;
}
@media @tablet-widths {
  .field-review__text {
    box-sizing: border-box;
    width: 100%;
  }
}
