.field-check{
  display: block;

  &__item-wrap{
    padding-left: 20px;
    padding-right: 20px;
  }

  &__title{
    display: block;
    .big-text(@std-text-color);
  }

  &__item{
    display:block;
    height: 60px;
    margin-bottom: 10px;
  }

  &__text{
    font-family: "PT Sans Bold", sans-serif;
    font-size: 18px;
  }
}
