.field-radio {
  display: block;
  border-top: 1px solid #e5e5e5;
}
@media @tablet-widths {
  .field-radio {
    flex-basis: 50%;
  }
}

.field-radio__title {
  display: block;
  .big-text(@std-text-color);
}
@media @tablet-widths {
  .field-radio__title {
    font-size: 21px;
    background: @body-background;
    margin-top: -15px;
    text-align: left;
  }
}

.field-radio__item-wrap {
  padding-left: 20px;
  padding-right: 20px;
}
@media @tablet-widths {
  .field-radio__item-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px 0 65px;
  }
}

.field-radio__item {
  padding-bottom: 10px;
}
@media @tablet-widths {
  .field-radio__item {
    padding-bottom: 23px;
  }
}

.field-radio__text::before {
  content: "";
  display: inline-block;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #f2f2f2;
  box-sizing: border-box;
  margin-right: 20px;
  vertical-align: middle;
}

.field-radio input[type="radio"] {
  display: none;
}

.field-radio input[type="radio"]:checked+.field-radio__text::before {
  box-shadow: inset 0 0 0 17px #f2f2f2;
  background-color: black;
}

.field-radio__text {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size: 18px;
}
