.for-visiters {
  .container();
  padding-top: 25px;
}
@media @tablet-widths{
.for-visiters{
padding-top: 55px;
  }
}

.for-visiters__title {
  display: block;
  .content-container;
  padding-bottom: 5px;
  margin: 0;
  font-family: "PT Sans Bold",Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}
@media @tablet-widths{
  .for-visiters__title{
  font-size: 30px;
  padding-bottom: 35px;

}
}

.for-visiters__info {
  .content-container;
  .normal-text(@std-text-color);
  line-height: 24px;
  padding-bottom: 20px;
}
@media @tablet-widths {
.for-visiters__info{
  width: 520px;
  margin: 0 auto;
  padding-bottom: 40px;
}
}

.for-visiters__hotel-search {
  display: block;
  box-sizing: border-box;
  width: 280px;
  padding: 15px;
  margin: 0 auto 50px;
  .btn-text(@menu-text-color);
  background-color: @basic-color;
  cursor: pointer;
}
@media @tablet-widths{
  .for-visiters__hotel-search{
  width: 460px;
}
}


.for-visiters__map-wrapper {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  height: 345px;
  width: auto;
  background: url("../img/bg-map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  @media @tablet-widths {
    height: 350px;
  }
}

.for-visiters__map-pointer {
  position: absolute;
  top: 47%;
  left: 46%;
}
