.form-submit{
  display: block;
  width: 280px;

  padding: 16px;
  margin-top: 50px;
  margin-bottom: 68px;
  margin-left: auto;
  margin-right: auto;

  .btn-text(@menu-text-color);

  background-color: @basic-color;
  border: none;
  cursor: pointer;

}
