.logo-wrap {
  position: relative;
  height: 55px;
}
@media @tablet-widths {
  .logo-wrap {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
  }
}

.logo-wrap img {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
}
@media @tablet-widths{
  .logo-wrap img{
    position: relative;
    transform: none;
    left: auto;
  }

}
