.logo-wrap {
  position: relative;
  height: 55px;
  @media @tablet-widths {
    position: relative;
    width: 110px;
    margin-left: auto;
    margin-right: auto;
  }
}

.logo-wrap img {
  position: absolute;
  left: 110px;
  top: 0;
  z-index: 10;
  @media @tablet-widths {
    position: absolute;
    left: 0;
  }
}
