.main-nav {
  position: relative;
  display: block;
}



.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: @basic-color;
  border-bottom: 1px solid @menu-border-color;
  border-top: 1px solid #9ac2db;
}

.main-nav__item:first-child {
  border-top: none;
}

.main-nav__link {
  display: block;
  padding: 0;
  margin: 0;
  height: 54px;
  font-size: 18px;
  line-height: 56px;
  font-family: "PT Sans Bold", sans-serif;
  color: @menu-text-color;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;

  &:visited {
    color: @menu-text-color;
  }

  &:hover {
    background-color: @hover-color;
  }
  &:active {
    background-color: @hover-color;
    color: #88b6d1;
  }

}
