.main-picture-wrap{
  position: relative;
  padding-top: 90px;
  box-sizing: border-box;
  padding-bottom: 25px;
  height: 390px;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;

  &--mini{
    height: 60px;

    background-position: bottom;
    background-size:auto;
    padding-bottom: 50px;
    padding-top: 100px;

  }

  &--mini &__photo{
    height: 60px;
    background-clip:content-box;
    background-size: cover;
    transform: translateY(-100%);
    background-size: 230px;
  }


  &__photo{

    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    height: 210px;
    width: inherit;

    background-image: url("../img/text-sedona-index.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &__decor{
    display: block;
    width: 320px;
    margin-left: 0;
    margin-right: 0;
    height: 25px;
    position: absolute;
    bottom: 0px;
    padding: 0;

    background-image:url("../img/bg-intro-triangle-mobile.svg");
    background-repeat: no-repeat;

  }

}
