.main-nav {
  position: relative;
  display: block;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
  @media @tablet-widths {
    font-size: 0;
  }
}

.main-nav__item {
  text-align: center;
  display: block;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
  background-color: @basic-color;
  @media @tablet-widths {
    background-color: @menu-tablet-color;
    .link-style;
    border: none;
    display: inline-block;
    box-sizing: border-box;
    width: 20%;
    text-align: center;
  }
}

.main-nav__item:first-child {
  border-top: none;
}

.main-nav__item:last-child {
  border-bottom: none;
}

.main-nav__item:nth-child(2) {
  @media @tablet-widths {
    box-sizing: border-box;
    margin-right: 20%;
  }
}

.main-nav__link {
  display: block;
  height: 54px;
  font-size: 18px;
  line-height: 56px;
  font-family: "PT Sans","Arial", sans-serif;
  font-weight: bold;
  color: @menu-text-color;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;
  @media @tablet-widths {
    color: @tablet-menu-link-color;
    font-size: 14px;
    display: inline;
  }
}

.main-nav__link:visited {
  color: @menu-text-color;
  @media @tablet-widths {
    color: @tablet-menu-link-color;
  }
}

.main-nav__link:hover {
  background-color: @hover-color;
  @media @tablet-widths {
    background-color: @menu-tablet-color;
    color: @main-menu-tablet-hover-color;
  }
}

.main-nav__link:active {
  background-color: @hover-color;
  color: #88b6d1;
  @media @tablet-widths {
    background-color: @menu-tablet-color;
    color: @main-menu-tablet-active-color;
  }
}
@media @tablet-widths {
  .main-nav__item--active .main-nav__link {
    color: @main-menu-active-tablet-color;
  }

  .main-nav__item--active .main-nav__link:hover {
    color: @main-menu-active-tablet-active-color;
  }

  .main-nav__item--active .main-nav__link:active {
    color: @main-menu-active-tablet-down-color;
  }
}
