.main-picture-wrap {
  position: relative;
  box-sizing: border-box;
  height: 390px;
  width: 100%;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  border: none;
  @media @retina {
    background-image: url("../img/bg-back-mobile@1x.jpg");
  }
  @media @tablet-widths {
    height: 518px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }
  @media @tablet-widths and @retina {
    background-image: url("../img/bg-back-tablet@2x.jpg");
  }
  @media @desktop-widths {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    height: 518px;
  }
  @media @desktop-widths and @retina {
    background-image: url("../img/bg-back-desktop@2x.jpg");
  }
}

.main-picture-wrap__decor {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.main-picture-wrap__decor--mobile {
  height: 27px;
  @media @tablet-widths {
    display: none;
  }
}

.main-picture-wrap__decor--tablet {
  display: none;
  @media @tablet-widths {
    display: block;
    height: 57px;
  }
  @media @desktop-widths {
    display: none;
  }
}

.main-picture-wrap__decor--desktop {
  display: none;
  @media @desktop-widths {
    display: block;
    height: 57px;
  }
}

.main-picture-wrap--mini {
  height: 160px;
  background-position: bottom;
  @media @tablet-widths {
    height: 290px;
  }
  @media @desktop-widths {
    height: 300px;
  }
}

.main-picture-wrap__photo {
  position: absolute;
  height: 212px;
  top: 52%;
  left: 51%;
  transform: translate(-51%, -52%);
  @media @tablet-widths {
    height:350px;
    width: 460px;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -47%);
  }
}

.main-picture-wrap__photo--mini {
  width: 230px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media @tablet-widths {
    height: 295px;
    width:459px;
    top: 125px;
    left: 50%;

  }
}
