.page-footer {
.container;
padding-top: 20px;
padding-bottom: 20px;
}
@media @tablet-widths {
  .page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 36px 60px 36px 60px;
  }
}
@media @desktop-widths {
  .page-footer {
    padding: 32px 0 30px 0;
    justify-content: space-between;
  }
}

.page-footer__hashtag{
  .big-text;
  font-size: 21px;
  display: block;
  margin-bottom: 35px;
  box-sizing: border-box;
}
@media @tablet-widths{
  .page-footer__hashtag{
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 0;
}
}
@media @desktop-widths{
  .page-footer__hashtag{
    box-sizing: border-box;

    margin-left: 133px;
    box-sizing: padding-box;

  }
}

.page-footer__social-links-wrap {
  display: flex;
  justify-content: space-between;
  width: 151px;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
}
@media @tablet-widths{
  .page-footer__social-links-wrap{
  margin: 0;
}
}
@media @desktop-widths{
  .page-footer__social-links-wrap{
    margin-right: 100px;

  }
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media @tablet-widths {
  .page-footer__copyright {

    justify-content: flex-end;
  }
}
@media @desktop-widths{
  .page-footer__copyright{
    margin-right: 44px;

  }
}

.page-footer__copyright-text {
  .normal-text(@std-text-color);
  padding-right: 12px;

}

.page-footer__academy-logo-link {
  width: 27px;
  height: 34px;
  .link-style;
}
