.photo-gallery {
  .container;
}

.photo-gallery__intro {
  .content-container;
  padding-top: 25px;
  padding-bottom: 17px;
}

.photo-gallery__title {
  .big-text(@std-text-color);
  padding-bottom: 15px;
}

.photo-gallery__description {
  .normal-text(@std-text-color);
}

.photo-gallery__item {
  padding: 20px;
  border-top: 1px solid #e5e5e5;
  padding-bottom: 17px;
}

.photo-gallery__item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.photo-gallery__photo-wrapper {
  width: 280px;
}

.photo-gallery__photo-wrapper img {
  width: 100%;
}

.photo-gallery__name {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 15px;
  font-family: "PT Sans Bold","Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
}

.photo-gallery__author {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "PT Sans","Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.photo-gallery__likes-wrap {
  position: relative;
  padding-left: 40px;
}

.photo-gallery__like-icon {
  width: 23px;
  height: 22px;
  position: absolute;
  left: 0;
  top: 0;
}

.photo-gallery__like-icon svg {
  fill: @like-icon-color;
}

.photo-gallery__likes {
  display: inline-block;
  margin-top: 6px;
  font-family: "PT Sans Bold","Arial", sans-serif;
  font-size: 14px;
  color: @std-text-color;
  text-decoration: none;
}
