.promo {
  .container;
  .content-container;
  padding-top: 35px;
}

.promo__title {
  .big-text;
  margin: 0;
  padding-bottom: 26px;
  padding-top: 2px;
  @media @tablet-widths {
    font-size: 30px;
  }
}

.promo__description {
  .normal-text;
  line-height: 24px;
  padding-bottom: 17px;
  margin: 0;
}
