.promo {
  .container;
  .content-container;
  padding-top: 37px;
  @media @tablet-widths {
    padding-top: 75px;
  }
  @desktop-widths {
    padding-top: 112px;
  }
}

.promo__title {
  .big-text;
  margin: 0 0 25px;
  @media @tablet-widths {
    font-size: 30px;
    margin-bottom: 30px;
  }
}

.promo__description {
  .normal-text;
  line-height: 24px;
  padding-bottom: 17px;
  margin: 0;
  @media @tablet-widths {
    width: 440px;
    margin: 0 auto;
  }
  @media @desktop-widths {
    width: 440px;
    margin: 0 auto;
  }
}
