.social-link {
  display: block;
  position: relative;
  width: 46px;
  height: 48px;
  text-decoration: none;
  margin-left: 1px;
.btn-style;
}
.social-link:first-child {
    margin-left: 0;
  }

.social-link__icon{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.social-link__icon--tw{
 width: 18px;
  height: 14px;
}
.social-link__icon--fb{
width: 7px;
  height: 19px;
}

.social-link__icon--yt{
  width: 20px;
  height: 14px;
}
