.social {
  padding-top: 39px;
}

.social__title {
  display: block;
  text-align: center;
  margin-bottom: 35px;
  font-family: "PT Sans Bold", sans-serif;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: @std-text-color;
}

.social__links-wrap {
  padding: 0;
  margin: 0 auto;
  max-width: 280px;
  padding-bottom: 40px;
}
