.social {
  padding-top: 39px;
  @media @tablet-widths {
    padding: 0;
    display: inline-block;
  }
}

.social__title {
  display: block;
  text-align: center;
  margin-bottom: 35px;
  font-family: "PT Sans Bold", sans-serif;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: @std-text-color;
  @media @tablet-widths {
    display: inline-block;
    box-sizing: border-box;
    height: 120px;
    margin: 0;
  }
}

.social__links-wrap {
  padding: 0;
  margin: 0 auto;
  max-width: 280px;
  padding-bottom: 40px;
  @media @tablet-widths {
    display: inline-block;
    box-sizing: border-box;
    height: 120px;
    margin: 0;
  }
}
