.success-pop-up {
  display: none;
  position: fixed;
  z-index: 100;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 640px;
  box-sizing: border-box;
  padding-top: 65px;
  background-color: white;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.15);
  @media @desktop-widths {
    display: block;
  }
}

.success-pop-up__title {
  display: block;
  .big-text;
  font-size: 30px;
  margin-bottom: 35px;
}

.success-pop-up__message {
  display: block;
  padding: 0 110px;
  margin-bottom: 35px;
  .normal-text;
}

.success-pop-up__close {
  .btn-style;
  box-sizing: border-box;
  width: 460px;
  padding: 17px;
  .btn-text;
  outline: none;
  border: none;
  width: 100%;
}

.success-pop-up__button-wrap {
  background-color: #f2f2f2;
  display: block;
  box-sizing: border-box;
  height: 146px;
  padding: 44px 90px;
}
