.video {
  .container;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media @tablet-widths {
  .video {
    padding-top: 65px;
  }
}

.video__title {
  .big-text(@std-text-color);
  margin-bottom: 25px;
  @media @tablet-widths {
    font-size: 30px;
  }
}

.video__intro {
  .normal-text(@std-text-color);
  line-height: 26px;
  margin-bottom: 20px;
  .content-container;
}
@media @tablet-widths {
  .video__description {
    width: 420px;
    margin: 0 auto;
    padding-bottom: 50px;
  }
}

.video__wrapper {
  position: relative;
  width: 320px;
  height: 265px;
  background: url("../img/video-mobile@1x.jpg") no-repeat;
  @media @retina{
    background-image: url("../img/video-mobile@2x.jpg");
  }
}
@media @tablet-widths {
  .video__wrapper {
    width: 648px;
    height: 500px;
    background-size: cover;
    padding-bottom: 0;
    margin: 0 auto;
    background-image: url("../img/video-tablet@1x.jpg");
    @media @retina {
      background-image: url("../img/video-tablet@2x.jpg")
    }
  }
}
@media @desktop-widths {
  .video__wrapper {
    width: 800px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/video-desktop@1x.jpg");
    @media @desktop-widths{
      background-image: url("../img/video-desktop@2x.jpg");
    }
  }

}
