.video-player {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  width: 280px;
  height: 111px;
  background-color: @transparent-black;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  padding-left: 22px;
  padding-right: 22px;
}
@media @tablet-widths {
  .video-player {
    width: 100%;
    box-sizing: border-box;
    height: 90px;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 33px;
    padding-right: 40px;
  }
}

.video-player__progres-bar-wrap {
  display: flex;
  width: 100%;
  flex-grow: 1;
  height: 45px;
  align-items: center;
}
@media @tablet-widths {
  .video-player__progres-bar-wrap {
    flex-basis: 390px;
    order: 1;
  }
}

.video-player__progres-bar {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  height: 3px;
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;

}

.video-player__progres-bar-point {
  position: absolute;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  bottom: -4px;
  background: #ffffff;
  margin-left: 115px;
  z-index: 20;
}




.video-player__replay-control {
  box-sizing: border-box;
  width: 16px;
  height: 20px;
  margin-right: auto;
  order: 1;
}
.video-player__replay-control svg{
  width: inherit;
  height: inherit;
}

.video-player__replay-control svg{
  fill: @std-control;
}
.video-player__replay-control:hover svg{
  fill: @hover-control;
}
.video-player__replay-control:active svg{
  fill: @down-control;
}

@media @tablet-widths {
  .video-player__replay-control {
    order: 0;
    margin-right: 40px;
  }

  .video-player__replay-control svg {
    fill: @video-controls-tablet-color;
  }
}

.video-player__fullscreen-control {
  order: 3;
  width: 20px;
  height: 20px;
  margin-left: 30px;

}

.video-player__fullscreen-control svg {
  width:inherit;
  height: inherit;
  fill: @std-control;
}

.video-player__fullscreen-control:hover svg{
  fill: @hover-control;
}
.video-player__fullscreen-control:active svg{
  fill: @down-control;
}

@media @tablet-widths {

  .video-player__fullscreen-control svg {
    fill: @video-controls-tablet-color;
  }
}




.video-player__subtitles-control {
  order: 2;
  width: 32px;
  height: 20px;
  margin-left: 30px;
}
.video-player__subtitles-control svg{
  width: inherit;
  height: inherit;
  fill:@std-control;
}
.video-player__subtitles-control:hover svg{
  fill: @hover-control;
}
.video-player__subtitles-control:active svg{
  fill: @down-control;
}

@media @tablet-widths {
  .video-player__subtitles-control{
    margin-left: 40px;
  }
  .video-player__subtitles-control svg {
    fill: @video-controls-tablet-color;
  }
}

.video-player__fake-btn{
background: transparent;
border: none;
outline: none;
cursor:pointer;
min-width: 20px;
padding: 0;
}
